.container-fluid {
  padding: 0 !important;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(56,47,66,1) 100%);
  min-height: 100vh;
  max-height: 100%;
}